@model List<category>
<style>
    .card {
        cursor: pointer;
        transition: transform 0.2s ease, box-shadow 0.2s ease; 
    }

        .card:hover {
            transform: scale(1.02); 
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
        }
</style>

@if (Model != null && Model.Any())
{

    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <a asp-action="ProductsOfSpecificCategory" asp-controller="product" asp-route-id="@item.id" class="card shadow text-decoration-none text-dark">
                <img src="@item.img" class="card-img-top" alt="Category Image" width="100%" height="350" style="object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title text-center">@item.name</h5>
                </div>
            </a>
        </div>
    }
}
else
{
    <p class="text-center">لا توجد أقسام إضافية.</p>
}

