<style>
 
    .custom-header {
        background: linear-gradient(135deg, #6a11cb, #2575fc);
        color: white;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 30px;
        text-align: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    </style>

 @model elraee.ViewModels.addCategoryViewModel

@{
    ViewData["Title"] = "Add Category";
}

<h1 class="text-center mt-5  custom-header">اضافة قسم جديد</h1>

@if (ViewBag.msg != null)
{
    <div id="successMessage" class="alert alert-success fade-in d-flex justify-content-center align-items-center">
        @ViewBag.msg
    </div>

    <script>
        setTimeout(function() {
            var successMessage = document.getElementById("successMessage");
            if (successMessage) {
                successMessage.classList.add("fade-out");
                setTimeout(() => successMessage.remove(), 1000);
            }
        }, 2000);
    </script>
}

<hr />

<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="add" class="border p-4 rounded shadow-sm" enctype="multipart/form-data" style="text-align:right;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="name" class="control-label">اسم القسم</label>
                <input asp-for="name" class="form-control form-control-lg" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="img" class="control-label">الصوره الرئيسيه للقسم</label>
                <input asp-for="img" type="file" class="form-control form-control-lg" accept="image/*" />
                <span asp-validation-for="img" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn-lg btn-block" />
            </div>
        </form>
    </div>
</div>

<div class="text-center mt-4">
    <a asp-controller="dashboard" asp-action="categoryDashboard" class="btn btn-link">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
