@model category

@{
    ViewData["Title"] = "category details";
}

<div class="container mt-5">
    <div class="card" style="width: 18rem;">
        <img src="@Model.img" class="card-img-top" alt="Product Image">
        <div class="card-body text-center">
            <h5 class="card-title">@Model.name</h5>
        </div>
    </div>
</div>
