@model elraee.ViewModels.ProfileViewModel
@{
    ViewData["Title"] = "EditProfile";
}


<form method="post" asp-action="SaveEdit" asp-controller="applicationUser" class="col-md-4 mx-auto shadow p-3 my-5 rounded">

    <h2 class="text-center">EditProfile</h2><hr />
    <div>
        <label>Name</label>
        <input type="text" value="@Model.Name" id="Name" name="Name" class="form form-control" />
    </div>
    <div>
        <label>Email</label>
        <input type="email" value="@Model.Email" id="Email" name="Email" class="form form-control" />
    </div>
    <div>
        <label>PhoneNumber</label>
        <input type="text" value="@Model.PhoneNumber" id="PhoneNumber" name="PhoneNumber" class="form form-control" />
    </div>

    <input type="submit" value="Save" class="btn btn-success w-100" />
</form>